.notification {
  border-radius: 5px;
  border: 2px solid;
  padding: 10px 15px;
  margin: 10px auto;
  width: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

.success {
  border: green; /* Green border */
  background-color: #d3d3d3; /* Light gray background */
  color: green; /* Green text */
}

.error {
  border: red; /* Red border */
  background-color: #f8d7da; /* Light red background */
  color: red; /* Red text */
}
